<h3>User</h3>
<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<p>Gender: <%= @user.gender.capitalize! if @user.gender %></p>
<p>First Name: <%= @user.first_name if @user.first_name %></p>
